<div class="pizza-content">
  <h1 class="page-title">My Pizzas</h1>
  <div class="pizza-create">
    <form [formGroup]="pizzaForm" novalidate (ngSubmit)="createPizza(pizzaForm)">
      <div class="form-group">
        <label class="center-block">Name:
          <input class="form-control" formControlName="name" required>
          <div *ngIf="pizzaForm.controls['name'].errors && !pizzaForm.controls['name'].pristine" class="alert alert-danger">
            <div [hidden]="!pizzaForm.controls['name'].errors.required">Pizza name is required.</div>
          </div>
        </label>

        <label class="center-block">Price:
          <input class="form-control" formControlName="price" required type="number">
          <div *ngIf="pizzaForm.controls['price'].errors && !pizzaForm.controls['price'].pristine" class="alert alert-danger">
              <div [hidden]="!pizzaForm.controls['price'].errors.required">Price name is required.</div>
            </div>
        </label>
      </div>
      <button type="submit" [disabled]="pizzaForm.invalid">Add a Pizza</button>
    </form>
  </div>

  <ul class="todo-list">
    <li *ngFor="let pizza of pizzas$ | async" >
      <div class="pizza-row" *ngIf="!editing || editingTodo.id != todo.id">
          <a class="pizza-completed" (click)="toggleCompleted(pizza)">
            <i class="material-icons toggle-completed-checkbox"></i> 
          </a> 
          <span class="pizza-title">
            {{todo.title}}
          </span>
          <span class="pizza-actions">
              <a (click)="editTodo(pizza)">
                <i class="material-icons edit">edit</i>
              </a>
              <a (click)="deleteTodo(pizza.id)">
                <i class="material-icons delete">clear</i>
              </a>
          </span>
      </div>
    </li>
  </ul>
</div>